* {
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.info {
  border-radius: 5px;
  width: 100%;
}

.profileImage {
  border-radius: 50%;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 10% 20%;
  padding: 5%;
}
.cover {
  padding: 5%;
}
.input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  margin-top: 10px;
}

.summary p:nth-child(1) {
  height: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-indent: 1.2em;
}

.invalid[type="text"],
textarea {
  border: 1px solid red;
  border-radius: 6px;
  resize: vertical;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
}

.invalid {
  color: red;
  font-size: small;
}
.input[type="date"] {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
  height: 200px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.col {
  float: center;
  width: 100%;
  padding: 10px 20px;
}

/* Clear floats after the columns */

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.Infocover {
  margin: 0;
  padding: 0;
  background-image: url("../images/whiteBack.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.infocontainer {
  display: block;
}

.textcontainer {
  padding: 5% 10%;
  height: 100%;
  min-height: 500px;
  display: flex;
}

.textinner {
  display: block;
  padding: 0 5%;
}

.infobutton {
  display: none;
}
.textcontainer p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 5rem;
}
.textcontainer p:nth-child(2) {
  font-family: calibri;
  font-weight: bold;
  letter-spacing: 1px;

  font-size: 3em;
  text-indent: 6rem;
  line-height: 1em;
}
.textcontainer p:nth-child(3) {
  font-family: myriad pro regular;
  color: #02251b;

  font-size: 7rem;
  line-height: 15px;
  text-indent: 10rem;
}
.textcontainer p:nth-child(4) {
  font-family: myriad pro regular;
  color: #02251b;
  font-size: 45px;
  line-height: 10px;
  text-indent: 17rem;
}

.textcontainer p:nth-child(5) {
  font-family: myriad pro regular;
  color: #ffffff;
  background-color: #090530;
  padding: 10px;
  border-radius: 20px;
  font-size: 4rem;
  line-height: 1em;
}
.textcontainer p {
  margin: 45px 0px 25px;
  line-height: 0px;
}
.Infocover button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 0px 40px;
}

.btn {
}
.hirebtn {
  width: 150px;
  height: 42px;
  border-radius: 10px;
  font-family: calibri;
  font-weight: bolder;
  font-size: 14px;
  outline: none;
  padding: 10px;
  margin: 0px 40px;
  border: 2px solid #373636;
  color: #373636;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.downcv {
  background-color: #0b0b0b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.updatebtn {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: transparent;
}
.deletebtn {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: transparent;
}

.infobutton {
  padding-top: 50px;
}
.aboutcontainer {
  height: 50vh;
  min-height: 500px;
  width: 100%;
  background-image: url("../images/car-scene1.gif");
  background-repeat: no-repeat;
  padding: 10% 20%;
}

.abouttext {
  color: rgb(255, 255, 255);
}

.abouttext p:nth-child(1) {
  font-family: Mulish;
  line-height: 1.5em;
  font-size: 2rem;
}

.abouttext p:nth-child(2) {
  font-size: 25px;
  font-family: Mulish;

  line-height: 2em;
}

@media screen and (max-width: 1000px) {
  .col,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .Infocover {
    width: 100%;
  }

  .textcontainer p:nth-child(1) {
    font-size: 3rem;
  }
  .textcontainer p:nth-child(2) {
    font-size: 1.5em;
    text-indent: 4rem;
    line-height: 1em;
  }
  .textcontainer p:nth-child(3) {
    font-family: myriad pro regular;
    color: #02251b;
    font-size: 7rem;
    line-height: 15px;
    text-indent: 10rem;
  }
  .textcontainer p:nth-child(4) {
    font-family: myriad pro regular;
    color: #02251b;
    font-size: 45px;
    line-height: 10px;
    text-indent: 17rem;
  }

  .textcontainer p:nth-child(5) {
    font-family: myriad pro regular;
    color: #ffffff;
    background-color: #090530;
    padding: 10px;
    border-radius: 20px;
    font-size: 2rem;
    line-height: 1em;
  }
  .textcontainer p {
    margin: 45px 0px 25px;
    line-height: 0px;
  }

  .aboutcontainer {
    min-height: 500px;
    width: 100%;
    background-color: #152d42;
  }

  .abouttext p:nth-child(1) {
    font-family: myriad pro;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .textcontainer p:nth-child(1) {
    font-size: 2rem;
  }

  .Infocover {
    background-image: none;
    width: 100%;
  }
  .textcontainer p:nth-child(2) {
    font-size: 1.5em;
    text-indent: 1rem;
    line-height: 0.5em;
  }
  .textcontainer p:nth-child(3) {
    font-family: myriad pro regular;
    color: #02251b;
    font-size: 4rem;
    line-height: 15px;
    text-indent: 3rem;
  }
  .textcontainer p:nth-child(4) {
    font-family: myriad pro regular;
    color: #02251b;
    font-size: 45px;
    line-height: 6px;
    text-indent: 4rem;
  }

  .textcontainer p:nth-child(5) {
    font-family: myriad pro regular;
    color: #ffffff;
    background-color: #090530;
    padding: 10px;
    border-radius: 20px;
    font-size: 2rem;
    line-height: 1em;
  }
  .textcontainer p {
    margin: 30px 0px 15px;
  }
  .textcontainer {
    padding: 10% 5%;
    height: 50vh;
    min-height: 500px;
  }
  .aboutcontainer {
    min-height: 400px;
    width: 100%;
    background-color: #152d42;
    background-image: none;
  }
  .abouttext p:nth-child(1) {
    font-size: 1.2rem;
  }
}
