* {
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.info {
  border-radius: 5px;
  width: 100%;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 10% 20%;
  padding: 5%;
}
.cover {
  padding: 5%;
}
.input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  margin-top: 10px;
}

.summary p:nth-child(1) {
  height: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-indent: 1.2em;
}

.invalid[type="text"],
textarea {
  border: 1px solid red;
  border-radius: 6px;
  resize: vertical;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
}

.invalid {
  color: red;
  font-size: small;
}
.input[type="date"] {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
  height: 200px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.col {
  float: center;
  width: 100%;
  padding: 10px 20px;
}

/* Clear floats after the columns */

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
